<h1>User Table</h1>

<h4>Import Data</h4>
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV", :disable_with => "Please Wait..."  %>
  <% end %>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <br>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
</table>
<br>
<p><a href="http://localhost:3000/tags">Tags Table</a></p>
<p><a href="http://localhost:3000/user_tags">User Tag Association Table</a></p>
